{{>header}}
          <div style="width: 100%; max-width: 489px; margin: 0 auto;">
            
            <p
              style="
                margin: 0;
                margin-top: 17px;
                font-size: 16px;
                font-weight: 500;
              "
            >
              Hello {{user.username}}
            </p>
            <p
              style="
                margin: 0;
                margin-top: 17px;
                font-weight: 500;
                letter-spacing: 0.56px;
              "
            >
     There's a new action in your account:
            </p>
            <p
              style="
                margin: 0;
                margin-top: 60px;
                font-size: 20px;
                font-weight: 600;
              "
            >
          {{title}} <br/> {{message}}
            </p>

      <p style="font-size: 16px; color: #555; margin-bottom: 20px;">Thank you for choosing our service!</p>

          </div>


        </div>
      </main>
{{>footer}}
