<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{projectName}}</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    style="
      margin: 0;
      font-family: 'Poppins', sans-serif;
      background: #ffffff;
      font-size: 14px;
    "
  >
    <div
      style="
        max-width: 680px;
        margin: 0 auto;
        padding: 45px 30px 60px;
        background: #f4f7ff;
        background-repeat: no-repeat;
        background-size: 800px 352px;
        background-position: top center;
        font-size: 14px;
        background: linear-gradient(225deg, rgb(131, 1, 1), rgb(1, 1, 116));
        color: #434343;
        border: 1px solid #e6ebf1;
      "
    >
      <header>
        <table style="width: 100%;">
          <tbody>
            <tr style="height: 0;">
              <td>
                <img
                  alt=""
                  src="https://www.uniquelogodesigns.com/blog/wp-content/uploads/2021/07/Unique-Logo-Designs-Logo-01-1024x300.webp"
                  height="50px"
                />
              </td>
              <td style="text-align: right;">
                
              </td>
            </tr>
          </tbody>
        </table>
      </header>
      <main style="">
    <div style="
            margin: 0;
            margin-top: 70px;
            padding: 92px 30px 115px;
            border-radius: 30px;
            background: #ffffff;
            text-align: center;
            border: 1px solid #e6ebf1;
          ">