
{{>header}}
<div class="withdraw" style="padding: 20px;">
    Dear {{name}} your request  for {{userVerificationType}} Verification is {{status}}.
    {{#if isRejected}}
        <p>Reason: {{rejectionReason}}</p>
    {{/if}}
</div>
{{>footer}}
